.navbar-site .nav-item {
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-site .nav-item .dropdown-item {
  text-transform: none;
}

.navbar-site .nav-link:hover {
  color: royalblue !important;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: darkturquoise;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.footer-links-social a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}

.site-footer hr {
  border-top-color:#bbb;
}

.footer-links-social i:hover {
  color: royalblue;
}